# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Installer logs
pip-log.txt
pip-delete-this-directory.txt
*.log

# Monogdb stuff
mongodb/
mongodb.tgz

# Environment vars
env_vars.mk

# Pycharm
.idea/

# Jade
*.html

# SCSS
*.css
