| {% extends "bootstrap/base.html" %}
| {% import "bootstrap/fixes.html" as fixes %}
| {% block title %}Search Interface{% endblock %}
| {% block styles %}
| {{super()}}
link(rel="stylesheet", href="{{url_for('.static', filename='css/style.css')}}")
| {% endblock %}
| {% block scripts %}
script.
    var city_url = '{{ city_url }}';
    var hotel_url = '{{ hotel_url }}';
| {{super()}}
script(src="{{url_for('.static', filename='js/jquery.autocomplete.min.js')}}")
script(src="{{url_for('.static', filename='js/script.js')}}")
| {% endblock %}
| {% block content %}
div.container
    div.col-xs-12.text-center
        h1 Search Interface for Hotels
    div#search-form.col-sm-6.col-sm-offset-3.col-xs-12.col-xs-offset-0
        form(role='form')
            div.form-group.col-xs-12
                div.col-xs-10
                    input#search-input.form-control(name='search_input',
                                                    placeholder='Digite a cidade de destino',
                                                    type='text')
                div.col-xs-2
                    button.btn.btn-default.glyphicon.glyphicon-search(type='submit')
| {% endblock %}
| {% block head %}
| {{super()}}
| {{fixes.ie8()}}
| {% endblock %}

