// Default file for search interface style

// Search form block style
#search-form {
    background-color: #003bb3;
    padding: 20px 0;
    height: 110px;
    button {
        color: #FFFFFF;
        background-color: #FFA500;
        font-size: 20px;
        margin-top: 9px;
    }
    input {
        margin-top: 10px;
        height: 43px;
    }
    #search-suggestions {
        overflow: auto;
        background-color: #000000;
        border: 1px;

        li {
            text-align: center;
            list-style: none;
            background-color: #FFFFFF;
        } :hover {
                background-color: #00b4f0;
                cursor: pointer;
            }
    }
}